Language:        Cpp
# BasedOnStyle:  LLVM
AccessModifierOffset: -2
BreakBeforeBraces: Allman
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
ColumnLimit: 200
AllowShortFunctionsOnASingleLine: Empty
IndentCaseLabels: true
InsertNewlineAtEOF: true
AlwaysBreakTemplateDeclarations: Yes
